.footer {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  text-align: center;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  flex-wrap: wrap;
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
  color: white;
}

.btn {
  margin: 5px;
}

.middle {
  display: flex;
  width: 500px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-wrap: wrap;
}

.cover {
  height: 100px;
  width: 100%;
  text-align: center;

  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
  color: white;
}

.form {
  /* height: auto;
  width: 600px;
  text-align: center; */

  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
  color: white;
}

.flex-parent {
  /*width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;

}

.input {
  margin: 10px;
}

.navbar-brand{
  color: white;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
}

.signup {
  height: 350px;
}

.login, .word {
  height: 200px;
}
