<!-- template for home page -->

<!--
TO DO
* affix navbar to the top of the page
  * position: static DOES NOT WORK
  * position: sticky DOES NOT WORK
* get the background to be static while scrolling
  * background-attachment: fixed DOES NOT WORK
  * background-repeat: no repeat DOES NOT WORK
  * position: static DOES NOT WORK
  * TRY overflow-y: scroll !important;
  * TRY backface-visibility: hidden;
* get the footer to stay at the bottom
* get the poem background to grow height with the contents
-->

{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Inspyre</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="recommendations">Recommendations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Favorites</a>
        </li>
      </ul>
      <div style="color: white;">Welcome, {{name}}!</div>
      &nbsp; &nbsp;
      <form class="form-inline my-2 my-lg-0" action="/logout">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
      </form>
    </div>
  </nav>


  <div class="grid">
    <div class="row" style="padding: 15px;">
      <!-- <div class="col-lg-4 divide"></div> -->
      <!-- <div class="col-lg-4 divide"></div> -->
    </div>
    <div class="row" style="padding: 15px;">
      <div class="col-lg-4 divide"></div>
      <div class="col-lg-4 content">
        <form action="/updateGoal" method="POST">
          <input type="text" name="goal" placeholder="Goal of the Day">
        </form>
      </div>
      <div class="col-lg-4 divide"></div>
    </div> <br>
    <div id="poem">
      <div>
        <h3>{{title}}</h3>
        <div>
          {{content}}
        </div>
      </div> </div>
    </div>

  <!-- <div> -->
    <!-- <div class="flex-parent"> -->

      <!-- <div class="centered"> -->
        <!-- <h1 class="display-4">Welcome, {{name}}!</h1> -->
      <!-- </div> -->

      <!-- <div class="middle homeContent form"> -->
        <!-- {{title}} <br><br> -->
          <!-- {{content}} -->
      <!-- </div> -->

<!--
      <div class="goal">
        <h1 class="display-5"> Goal of the Day: </h1>
        {% if goal %}
          {{ goal }}
        {% else %}
          <form action="/updateGoal" method="POST">
            <input type="text" name="goal" placeholder="Goal of the Day">
          </form>
        {% endif %}
      </div>
-->
    <!-- </div> -->
  <!-- </div> -->

{% endblock %}
