<!-- template for landing page -->

{% extends "index.html" %}

{% block title %}
Get Inspyred
{% endblock %}

{% block content %}

  <div>
    <div class="middle word landingContent cover">
      <div class="container-fluid centered" id="w">
        <h1 class="display-4">{{word}}</h1>
      </div>
      <div class="container-fluid centered">
        {{definition}}
      </div>
      <div class="container centered">
        <a class="btn btn-light" href="login" role="button" id="login">
          Login
        </a>
        <a class="btn btn-light" href="signup" role="button" id="signup">
          Sign Up
        </a>
      </div>
    </div>

  </div>

{% endblock %}
