<!-- template for landing page -->

<!DOCTYPE html>
<html>
    <head>
        <title>Get Inspyred</title>
    </head>
    <body background="{{background}}">
        <div id="word">
          Word of the Day: {{word}} <br>
          {{definition}}
        </div>
        <div id="buttons">
          <form action="/login">
              <input type="submit" value="Login">
          </form>
          <form action="/login">
              <input type="submit" value="Register">
          </form>
        </div>
    </body>
</html>
