<!-- template for recommendations page -->

{% extends "base.html" %}

{% block title %}
Recommendations
{% endblock %}

{% block content %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Inspyre</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="recommendations">Recommendations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Favorites</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/logout">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
      </form>
    </div>
  </nav>
  <div class="content">
    <div class="books"> 
      <form action="/books" method="GET">
		  Input book title:
        <input type="text" name="book"><br>
        <button type="submit" class="btn btn-outline-light"> Get Reccomendations </button>
	</form>
 	<div class ="cover">
      Books: <br>
      {{books}} <br>
  </div>
  </div>
    </div> 
    <div class="movies">
      <form action="/movies" method="GET">
		  Input movie title:
        <input type="text" name="movie"><br>
        <button type="submit" class="btn btn-outline-light"> Get Reccomendations </button>
	</form>
	<div class="cover">
      Movies: 
      {{movies}} <br>
  </div> 
  </div>
    </div> <br>
	<div class="music"> 
		<form action="/music" method="GET">
		  Input song title:
          <input type="text" name="song"><br>
          <button type="submit" class="btn btn-outline-light"> Get Reccomendations </button>
		 </form> 
		 <div class="cover">
      	Songs: <br>
      {{songs}} <br>
  </div>
    </div>
  </div>



{% endblock %}
